<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/Fadhlillah/git.server/java-RESTAsssured-API-Testing-eureka-test/src/test/java/org/example/APIGet.java"><classes><class name="org.example.APIGet"><methods><include name="testGetProductDetail"/><include name="testProductName"/><include name="testPrice"/><include name="testInventoryPresentAndValue"/><include name="testQuantityVal"/><include name="testCategoriesContainsIdAndName"/><include name="testReviewFieldPresenceAndArraySize"/><include name="testReviewFieldsPresence"/></methods></class></classes></test></suite>